
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 180px;
  width: 100%;
  align-items: center;
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.register_link {
  color: #4C4CFF;
  text-decoration: none;
  transition: 0.3s ;
}

.register_link:hover {
  color: #fff;
}