
/* .box_constructor{
  border: 1px solid rgb(0, 255, 98);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 900px;
}

.elementclosed{
  border: 1px solid rgb(229, 255, 0);
  display: flex;
  align-self: center;
  width: 536px; 
} */

.box_constructor {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-height: 912px;
  min-width: 600px;
  padding-bottom: 52px;
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 600px; 
}

.buns {
  border: 1px solid red;
  align-self: center;
  padding-left: 30px;
  width: 536px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  min-width: 568px;
  padding: 0;
}

.item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkout {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.price {
  align-items: center;
  display: flex;
  flex-direction: row;
}