

.menu {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.scrollbar {
  padding: 0;
  height: 664px;
  width: 600px;
  overflow-y: scroll;
}

.list {
  display: flex;
  column-gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  row-gap: 32px;
}


