
.header_nav {
  margin-left: auto;
  margin-right: auto;
  background-color: #1C1C21;
  max-height: 88px;
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list {
  padding: 0;
  max-height: 56px;
  min-width: 1280px;
  list-style-type: none;
  display: grid;  
  grid-template-columns: max-content max-content auto max-content;
  grid-template-rows: 1fr;
  gap: 8px;
  
}

.liste_lement {
  border: 1px solid rgb(76, 104, 208);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.liste_lement_text{
 margin-top: 0;
 margin-bottom: 0;
}

.logopicture {
  margin:auto;
}

.logo {
  margin-top: 4px;
}